<div class="alert alert-dismissible alert-info col-md-6 col-md-offset-3 text-left main-well">
<h2>My Account</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div><br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br>
  <div class="field">
    <%= f.label :choose_an_avatar%><br>
    <%= image_tag "cat_box.png" %><%= f.radio_button :avatar, 'cat_box.png', :checked => true%>  
    <%= image_tag "cat_fight.png" %><%= f.radio_button :avatar, 'cat_fight.png', checked: true%>
    <%= image_tag "cat_clean.png" %><%= f.radio_button :avatar, 'cat_clean.png', checked: true%><br>
    <%= image_tag "cat_drunk.png" %><%= f.radio_button :avatar, 'cat_drunk.png', checked: true%>
    <%= image_tag "cat_purr.png" %><%= f.radio_button :avatar, 'cat_purr.png', checked: true%>
    <%= image_tag "cat_tied.png" %><%= f.radio_button :avatar, 'cat_tied.png', checked: true%>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Update"%>
  </div>
<% end %>
<br>
<h4>Cancel my account</h4>
<br>
<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<br>
<%= link_to "Back", :back %>
</div>
